body {
	background-color: rgba(40,45,71);
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
#top_menu a {
   text-decoration: none;
    color: rgba(138, 43, 226, 0.71);
}
#top_menu a:hover {
    color: blueviolet;
}
#top_menu li {
    display: inline-block;
    margin-right: 4%;
}
a {
	font-family: battlestar;
    {text-decoration: none;}
}
@font-face {
    font-family: battlestar;
    src: url(font-face/main.ttf);
}
@font-face {
    font-family: p;
    src: url(font-face/p.ttf);
}
h1 {
	font-family: battlestar;
	text-align: center;
	font-size: 300%;
	color: blueviolet;
}
.content {
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	width: 63%;	
    border-color: black;
    border-style: none;
    background-color: rgba(101, 26, 172, 0.71);
    font-size: 100%;
    font-family: p;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}
p {
	font-family: p;
	font-size: 120%;
}
#top_menu {
	margin-left: 1.5%;
	width: 95%;
    border-color: black;
    border-style: none;
    background-color: rgba(101, 26, 172, 0.26);
    font-size: 130%;
    font-family: p;
    text-align: center;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}